@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    @font-face {
        font-family: 'Noah';
        font-weight: normal;
        font-style: normal;
        src: url('/assets/fonts/noah/noah-regular-webfont.woff2') format('woff2'),
        url('/assets/fonts/noah/noah-regular-webfont.woff') format('woff');
    }
    @font-face {
        font-family: 'Noah';
        font-weight: bold;
        font-style: normal;
        src: url('/assets/fonts/noah/noah-bold-webfont.woff2') format('woff2'),
        url('/assets/fonts/noah/noah-bold-webfont.woff') format('woff');
    }

}

#__nuxt {
    @apply h-full
}
